.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.headerList{
  float:right !important;
}

.footer{
  background-color: #18bc9c;
  borderTop: 1px solid #E7E7E7;
  textAlign: center;
  padding: 20px;
  position: fixed;
  left:0;
  bottom: 0;
  height: 60px;
  width: 100%;
  color:white;
  text-align: center;
}

#mainBody {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 350px;
}